
*
  margin: 0
  padding: 0
  box-sizing: border-box
  color: aliceblue !important
  font-size: 1rem
  font-family: "Montserrat", serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal
  text-decoration: none

#root
  margin: 0 auto
  min-height: 2000px
  width: 100%
  background: rgb(10,14,82)
  background: linear-gradient(180deg, rgba(10,14,82,0.9976365546218487) 0%, rgba(12,20,168,0.9976365546218487) 20%, rgba(15,18,80,1) 53%, rgba(13,2,45,1) 100%)